.bloc-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0.1em;
}

.bloc-btn {
    display: flex;
    align-items: baseline;
    justify-content: center;

    margin-top: 1em;
    gap: 1.25em;
}

.btn_task--delete {
    padding: 0.85em;
    /*border: 2px solid #C48D07;*/
    border: 2px solid darkred;
    border-radius: 15px;
    color: white;
    background-color: #292216;
}

.btn_task--delete:hover {
    /*background-color: #C48D07;*/
    background-color: darkred;
    cursor: pointer;
}