.bloc-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bloc-form p {
    display: flex;
    align-items: center;
    gap: 1em;
}

.btn_task--profile {
    padding: 0.85em;
    border: 2px solid #C48D07;
    border-radius: 15px;
    color: white;
    background-color: #292216;
}

.btn_task--profile:hover {
    background-color: #C48D07;
    cursor: pointer;
}

.separator {
    width: 70%;
    margin-top: 1.25em;
    margin-bottom: 1em;
    border: 2px rgba(65, 63, 63, 0.48) solid;
    border-radius: 15px;
}

.bloc-content-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}
